a {
    color: #fff;
}
a:link {
    text-decoration: none;
    color: #00CED1;
}

a:hover {
    color: #00CED1;
}

a:visited {
    color: #00CED1;
}
.navbar-custom {
    background-color:#000;
    color:#fff;
    border-radius:0;
}
.navbar {
	background-color: #000;
	color: #fff;
}
.navbar-form {
	background: #000;
	color: #fff;
}
.navbar-right {
	background: #000;
	color: #fff;
}
.navbar-brand {
	background: #000;
	color: #fff;
}
.navbar-default {
	background: #000;
	color: #fff;
}
.container-fluid {
	background: #000;
	color: #fff;
}
